<div>
    <strong>Student:</strong>
    <%= link_to "#{student.firstName} #{student.lastName}", [@account, student]%>
</div>

<div>
    <strong>Age:</strong>
    <%= student.age %>
</div>

<div>
    <strong>Verified:</strong>
    <%= check_box_tag name = "verified", value = "1", student.verified, disabled: true %>
</div>