<div>
    <strong>Student:</strong>
    <%= link_to "#{student.firstName} #{student.lastName}", [@account, student]%>
</div>

<div>
    <strong>Age:</strong>
    <%= student.age %>
</div>

<div>
    <strong>Primary:</strong>
    <%= check_box_tag name = "primary", value = "1", student.primary, disabled: true %>
</div>