<div>
    <strong>Contact:</strong>
    <%= link_to "#{contact.firstName} #{contact.lastName}", [@account, contact]%>
</div>

<div>
    <strong>Phone #:</strong>
    <%= number_to_phone(contact.phone) %>
</div>

<div>
    <strong>Email Address:</strong>
    <%= contact.email %>
</div>

<div>
    <strong>Primary:</strong>
    <%= check_box_tag("primary", value = "1", contact.is_primary?, disabled: true) %>
</div>