<h1><%= @account.name %></h1>

<%= button_to 'Delete Account', @account,
              method: :delete,
              data: { confirm: "Are you sure?" } %>

<h2>Students</h2>
<% @account.students.each do |student| %>
  <div class="student-row">
    <%= render student %>
  </div>
<% end %>

<%= link_to "Add Student", new_account_student_path(@account) %>